<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Finlandica&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div id="top-logos">
            <img class="boca" src="images/boca-logo.png" alt="boca">
            <img class="adidas" src="images/adidas.png" alt="adidas">
        </div>
        <div>
            <nav>
                <ul>
                    <li><a href="/views/home.html">Inicio</a></li>
                    <li><a href="/views/about.html">Historia</a></li>
                    <li><a href="/views/works.html">Triunfos</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="copas">
        <img class="copa-3" src="/images/copas-3.png" alt="3">
        <img  class="copa-5" src="/images/copas-5.png" alt="5">
        <img  class="copa-6" src="/images/copas-6.png" alt="5">

    </div>
</body>
</html>